body {
    font-family: Courier Courier New, Courier, monospace;
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

main {
    margin: auto;
    max-width: 60em;
    padding: 0 5px;
}

form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
    max-width: 40em;
}

input, select {
    border: 1px solid #999;
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
}

button {
    flex: 0 1 100%;
    margin: 0 5px;
    line-height: 2.5;
    border: 0;
    padding: 0;
    margin: 0;
    background: linear-gradient(170deg, #08f, #0df);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-family: inherit;
}

.input-wrapper {
    flex: 0 1 50%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

.graph-wrapper {
    padding: 0;
}

.graph {
    width: 100%;
    height: auto;
    margin-bottom: 300px;
}

.results {
    max-width: 60em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.results-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 1 1 auto;
    border-radius: 3px;
    margin: 10px;
    overflow: hidden;
}

.results-title {
    padding: 10px;
    background-color: #ccc;
    border-bottom: 2px solid #666;
}

.results-value {
    padding: 10px;
    background-color: #eee;
}

.final {
    stroke: #f80;
}

.final > .results-title {
    border-bottom: 2px solid #f80;
}

.applied {
    stroke: #08f;
}

.applied > .results-title {
    border-bottom: 2px solid #08f;
}

.interest {
    stroke: #0f8;
}

.interest > .results-title {
    border-bottom: 2px solid #0f8;
}
